@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-*: initial;
  --font-serif: Libre Caslon Condensed, serif;
  --font-sans: Geist VF, sans-serif;
  --font-mono: JetBrains Mono, monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --shadow-outset:
    0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 4px 0px rgba(255, 255, 255, 0.12) inset,
    0px 0px 0px 1px rgba(255, 255, 255, 0.12) inset,
    0px -0.5px 2px 0px rgba(0, 0, 0, 0.08) inset,
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.05),
    0px 0px 2px 0px rgba(0, 0, 0, 0.12);
  --shadow-outset-dark:
    0px 1px 1px 0px rgba(255, 255, 255, 0.08) inset,
    0px 0px 0px 1px rgba(255, 255, 255, 0.04) inset,
    0px 2px 4px 0px rgba(255, 255, 255, 0.08) inset,
    0px 0px 0px 0.5px rgba(255, 255, 255, 0.08),
    0px 1px 3px 0px rgba(0, 0, 0, 0.05), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
  --shadow-outset-hover:
    0px 1px 1px 0px rgba(255, 255, 255, 0.18) inset,
    0px 0px 0px 1px rgba(255, 255, 255, 0.12) inset,
    0px -0.5px 2px 0px rgba(0, 0, 0, 0.08) inset,
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.05),
    0px 0px 4px 0px rgba(0, 0, 0, 0.08);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
    font-family: 'Libre Caslon Condensed';
    src: local('Libre Caslon Condensed'), url(./theme/fonts/LibreCaslonCondensed.ttf) format('ttf');
}

@font-face {
    font-family: 'Geist VF';
    src: local('Geist VF'), url(./theme/fonts/GeistVF.woff) format('woff');
}